<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Благотворительный фонд "Гуран"</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    </head>
    <body>
    <header class="header">
            <img src="{% static 'images/logo.png' %}" alt="Логотип Фонда Гуран" class="logo-img">
            <h1>СИЛА В ЕДИНСТВЕ ОТРЯД ГУРАН</h1>
            <div class="description">Благотворительный общественно полезный фонд по оказанию помощи гражданам в условиях Специальной Военной операции</div>
            <div class="contact-header">Тел: +7(914)-440-65-44 <br>Email: Guran-Chita@yandex.ru</div>
    </header>
        <!-- Основное меню -->
        <nav class="main-nav">
            <div class="nav-container">
                <a href="#about" class="nav-item">О НАС</a>
                <a href="#news" class="nav-item">НОВОСТИ</a>
                <a href="#donate" class="nav-item">ПОЖЕРТВОВАТЬ</a>
                <a href="#contacts" class="nav-item">КОНТАКТЫ</a>
            </div>
        </nav>
        <div class="container">
            <section id="about" class="section">
                <h2>О нас</h2>
                <div class="about-content" style="display: flex; align-items: flex-start;">
                    <div class="about-image"  style="align-self: center;">
                        <img src="{% static 'images/foto.png' %}" width="410" alt="Деятельность фонда Гуран">
                    </div>
                    <div class="about-text">
                        <h3 align="center">Сила в единстве - помощь в действии</h3>
                        <p style="text-align: justify;">Благотворительный фонд "СИЛА В ЕДИНСТВЕ ОТРЯД ГУРАН" — это объединение людей, готовых протянуть руку помощи тем, кто оказался в трудной жизненной ситуации в условиях Специальной Военной Операции.</p>
                        <p style="text-align: justify;">Объединяя усилия и ресурсы, мы оказываем всестороннюю поддержку гражданам, пострадавшим в условиях Специальной Военной Операции, а также военнослужащим и их семьям. Наша миссия - создавать надежный тыл, обеспечивая гуманитарную помощь, психологическую поддержку и социальную защиту тех, кто в этом больше всего нуждается</p>
                        <h4>Виды деятельности</h4>
                        <p>1. ГУМАНИТАРНАЯ ПОМОЩЬ: Поставка продовольствия, медикаментов, одежды и товаров первой необходимости мирным жителям, детским домам и госпиталям ДНР и ЛНР.</p>
                        <p>2. ВОЛОНТЕРСКАЯ ДЕЯТЕЛЬНОСТЬ: Привлечение добровольцев для поддержки пострадавших граждан и патриотического воспитания молодежи.</p>
                        <p>3. МАСТЕР-КЛАССЫ:
                        -изготовление окопных свечей;
                        -плетение маскировочных сетей;
                        -плетение костюмов типа «Леший»;
                        -изготовлению антидрововых штор.</p>
                        <p>4. ПРОВЕДЕНИЕ БЛАГОТВОРИТЕЛЬНЫХ КОНЦЕРТОВ</p>
                    </div>
                </div>
            </section>
            <section id="donate" class="section">
                <h2>Сбор средств</h2>
                <div class="qr-section">
                    <div class="qr-container">
                        <div class="qr-left">
                            <h3 align="center"> Оплата по QR:</h3>
                            <div class="qr-placeholder">
                                <img src="{% static 'images/qr.jpg' %}" width="350" height="350" alt="QR код">
                            </div>
                        </div>
                <div class="qr-right">
                    <div class="pred">
                        <p>Отсканируйте QR в мобильном приложении банка или штатной камерой телефона<br>
                           <strong>1.</strong> Введите нужную сумму<br>
                           <strong>2.</strong> В сообщении, ОБЯЗАТЕЛЬНО напишите "Благотворительность"<br>
                           <strong>3.</strong> Нажмите далее<br>
                           <strong>Готово!</strong>
                        </p>
                    </div>
                    <div class="requisites">
                        <h3>Реквизиты для перевода</h3>
                        <p><strong>Получатель:</strong> Благотворительный фонд "Гуран"</p>
                        <p><strong>ИНН:</strong> 7500021932</p>
                        <p><strong>Расчетный счет:</strong> 40703810674000005173</p>
                        <p><strong>Банк:</strong> ЧИТНСКОЕ ОТДЕЛЕНИЕ №8600 ПАО СБЕРБАНК</p>
                        <p><strong>БИК:</strong> 047601637</p>
                        <p><strong>Корр. счет:</strong> 30101810500000000637</p>
                        <p><strong>Назначение платежа:</strong> Благотворительное пожертвование</p>
                    </div>
                </div>
            </div>
        </div>
            </section>
            <section id="news" class="section">
                <h2>Новости</h2>
                <div class="news-container">
                    <!-- Первая новость -->
                    <div class="news-card" onclick="openModal(this)">
                        <img src="{% static 'images/news.jpg' %}" alt="Форум">
                        <h3>ФОРУМ «НАРОД И АРМИЯ ЕДИНЫ»✊</h3>
                        <p>🤍27-28 ОКТЯБРЯ СОСТОЯЛСЯ ФОРУМ «НАРОД И АРМИЯ ЕДИНЫ»✊...</p>


                        <!-- Полный текст (скрытый) -->
                        <div class="full-text" style="display: none;">
                            <p>🤍27-28 ОКТЯБРЯ СОСТОЯЛСЯ ФОРУМ «НАРОД И АРМИЯ ЕДИНЫ»✊ В МУЗЕЕ БОЕВОЙ СЛАВЫ ОДОРА БЫЛА ПРЕДСТАВЛЕНА ВЫСТАВКА ИЗДЕЛИЙ, ОДЕЖДЫ, ТЕХНИКИ И МНОГО ПОЛЕЗНОГО И НУЖНОГО ДЛЯ НАШИХ ВОЕННОСЛУЖАЩИХ СПЕЦИАЛЬНОЙ ВОЕННОЙ ОПЕРАЦИИ, ВОЛОНТЕРАМИ ЗАБАЙКАЛЬСКОГО КРАЯ! МЫ ОТРЯД ГУРАН ТАКЖЕ ПРИНЯЛИ АКТИВНОЕ УЧАСТИЕ В ФОРУМЕ, ГДЕ ПРЕДСТАВИЛИ ВНИМАНИЮ СВОИ ИЗДЕЛИЯ МАСКИРОВОЧНОЙ ЗАЩИТЫ🫡</p>
                        </div>
                    </div>

                    <!-- Вторая новость -->
                    <div class="news-card" onclick="openModal(this)">
                        <img src="{% static 'images/news2.jpg' %}" alt="Концерты">
                        <h3>Благотворительные концерты "Сила в единстве"</h3>
                        <p>22 ноября в с. Тунгокочен и 23 ноября в с.Верх - Усугли...</p>


                        <!-- Полный текст (скрытый) -->
                        <div class="full-text" style="display: none;">
                            <p>22 ноября в с. Тунгокочен и 23 ноября в с.Верх - Усугли, прошли завершающие благотворительные концерты "Сила в единстве", в которых принимали участие творческие коллективы Забайкальского края - фольклорный ансамбль " Читинская Слобода", волонтёры "Отряда Гуран", коллектив "Северяне", ансамбль эвенкийской песни и танца "Дяндыктал", учащиеся хореографического отделения ДШИ с В-Усугли, учащиеся ВУСОШ.</p>
                            <p>Творческие коллективы подарили зрителям яркие и проникновенные номера, передавая всю глубину патриотизма и искреннюю благодарность за мужество и самоотверженность тех, кто стоит на защите наших рубежей.</p>
                            <p>Благотворительные концерты "Сила в единстве", стали символом нашей поддержки. Мы помним и гордимся нашими солдатами. Верим, что каждая помощь важна. Собранные средства пойдут нашим защитникам на СВО. Спасибо всем, кто принял участие в этом важном деле!</p>
                        </div>
                    </div>
                <!-- Модальное окно (простое) -->
                <div id="modal" class="modal" style="display: none;">
                    <div class="modal-content">
                        <span class="close-btn" onclick="closeModal()">×</span>
                        <img id="modal-img" src="" alt="">
                        <h2 id="modal-title"></h2>
                        <div id="modal-text"></div>
                    </div>
                </div>
            </section>

            <section class="section">
                <h2>Фотографии</h2>
                    <div class="foto">
        <a href="{% static 'images/foto1.jpg' %}" data-lightbox="gallery">
            <img src="{% static 'images/foto1.jpg' %}" alt="Фото 1">
        </a>
        <a href="{% static 'images/foto2.jpg' %}" data-lightbox="gallery">
            <img src="{% static 'images/foto2.jpg' %}" alt="Фото 2">
        </a>
        <a href="{% static 'images/foto3.jpg' %}" data-lightbox="gallery">
            <img src="{% static 'images/foto3.jpg' %}" alt="Фото 3">
        </a>
    </div>
            </section>
        </div>
        <footer id="contacts" class="footer">
            <h3 style="color: white">Контакты</h3>
            <div class="columns">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af3294bba742fb873e589a01c270f9e3adac3b57a3b35f65d0169e1e1e5250705&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                <div class="column" style="background: #e6d8ac; color: #556b2f" align="left">
                    <h4>Контакты: </h4>
                    <br>
                    <h4>+7(914)-440-65-44</h4>
                    <h4>Guran-Chitafdyandex.ru</h4>
                    <p>г.Чита ул.Фрунзе,10</p>
                    <br>
                    <p>Благотворительный общественно полезный фонд по оказанию помощи гражданам в условиях Специальной Военной операции "Отряд Гуран"</p>
                </div>
            </div>
        </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
     </body>
</html>